# Reference Genome and Annotations from GeneCode: https://www.gencodegenes.org/human/
conda install bioconda::sra-tools v3.2.1
conda install bioconda::fastqc v0.12.1
conda install bioconda::trimmomatic v0.40
conda install bioconda::fastp v1.0.1
conda install bioconda::star v2.7.11b
conda install bioconda::samtools v1.22.1
conda install bioconda::subread v2.1.1
